*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #111111;
}
html{
  scroll-behavior: smooth;
}
a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #f2b410;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 10px solid #f2b410;
  border-top: 10px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.navbar-brand img{
  height: 200px;
  width: 150px;
  -webkit-backface-visibility: hidden;
}
.nav-link{
  color: #fff !important;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 10px;
  transition: 0.5s;
}
.nav-link:hover{
  color: #f2b410 !important;
  border-bottom: 2px solid #f2b410;
}
.navbar button{
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3px;
  background:#fff;
  color: #f2b410;
}
/*************************************************banner************************************/
.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
}
.carousel-caption{
  position: absolute;
  top: 160px;
}
#banner_p{
  color: #f2b410 !important;
  font-size: 40px !important;
  font-family: 'Dancing Script', cursive;
}
.banner_h1{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 75px;
}
.banner_button{
  background-color: #f2b410;
  width: 190px;
  height: 51px;
  border: none;
  border-radius: 40px;
  padding: 10px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.banner_button:hover{
  background: transparent;
  border: 2px solid #f2b410;
  color: #f2b410;
  padding: 8px;
}
.about_button{
  background-color: #f2b410;
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 40px;
  padding: 10px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.about_button:hover{
  background: transparent;
  border: 2px solid #f2b410;
  color: #f2b410;
  padding: 8px;
}

.banner_upper{
  width: 100%;
  margin-top: -160px;
  margin-bottom: -50px;
}
.bannerr_upper{
  width: 100%;
  margin-bottom: -100px;
  margin-top: -110px;
}
.navbar{
   background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
   height: auto;
}
.nav-link{
  
}
/********************************************************about******************************/
#about{
  height: 580px;
  text-align: center;
}
.about_img{
  width: 100%;
}
.about{
  position: relative;
  
}
.about_class{
  position: absolute;
  top: 30px;
  left: 10px;
}
#about_p{
  font-size: 18.5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.8;
  word-spacing: 5px;
  margin-left: 23%;
  margin-right: 23%;
  margin-top: 65px;
  font-weight: 600;
  margin-bottom: 61px;
}
/***************************************************************speacial******************************************/
#speacial{
  background: url('special.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center !important;
}
.special_upper{
  width: 100%;
  margin-bottom: 90px;
  margin-top: -20px;
}
.special{
  text-align: center;
}
.speacial_h3{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.card{
  width: 541px;
  height: 658px;
  margin-bottom: 140px;
}
.card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.6s;
  margin: 4px;
}
.card-text{
  font-size: 15.96px;
  font-family: 'Roboto', sans-serif;
  color: #5c6369;
  margin: 0px 40px;
  line-height: 2.0;
  border-bottom: 1px solid #e1e1e1;
}
.price{
  margin-top: 61px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 16px;
  font-weight: 600 !important;
  border-right: 1px solid #e1e1e1;
  padding-right: 10px;
}
.figure{
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #f2b410; 
  font-weight: 600 !important;
}
sup{
  font-size: 22px !important;
}
.project-overl

.project-info {
  padding: 12em 0;
}
.card-img-top{
  transition: 0.4s;
}
.card-img-top:hover{
  border: 5px solid #f2b410;
  cursor: pointer;
}
.card-title:hover{
  cursor: pointer;
  font-size: 30px;
  color: #f2b410;
  margin: 0px;
}

/**********************************************************list**************************************/
#list{
  text-align: center;
  padding: 10px;
}
.table{
  text-align: left;
}
.table:hover{

}
.menu_button{
  margin-left: -5px;
}
.food_name{
  margin-left: 5px;
}
td {
  padding: 5px;
  text-align: left; 
  margin-left: 3px;   
}
.per_prices{
  font-family: 'Roboto','sans-serif';
  color: #f2b410;
  font-size: 17px;
  font-weight: 600;
}
.food_name{
 font-family: 'Roboto','sans-serif';
  color: #000;
  font-size: 16px;
  font-weight: 600; 
}
/************************************************************contact********************************/
#contact{
  background: url('contract.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.phone{
  color: #f2b410;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-top: -10px;
  margin-bottom: 0;
  font-weight: 400;
}
form{
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 55px;
  margin-top: 55px;
  margin-bottom: 150px;
}
.contact{
  text-align: center;
}
input[type=text],input[type=email],input[type=phone],input[type=date]{
  width: 306px;
  height: 50px;
  padding: 5px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  margin-top: 3px;
  margin-left: auto;
  margin-bottom: 7px;
}
select{
  width: 306px;
  height: 50px;
  padding: 5px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: auto;
}
textarea{
  width: 620px;
  height: 112px;
  padding: 5px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  margin-top: 7px;
}
#submit{
  background-color: #f2b410;
  height: 55px;
  width: 620px;
  padding: 5px;
  text-transform: uppercase;
  border: none;
}
#submit:hover{
  background: transparent;
  border: 2px solid #f2b410;
  color: #f2b410;
  padding: 3px;
}
option{
  background-color: black;
}
/*----------------*********************************client*******************************/
#client{
  text-align: center;
}
.review{
  padding: 10px;
}
.client_img{
  position: relative;
}
.client_text{
  position: absolute;
  top: 5px;
  padding: 8px;
}
.client_img{
  margin-top: 5px;
  margin-right: 50px;
}
.review_P{
  text-align: justify;
}
.about_h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px
  font-weight:400;
  text-transform: uppercase;
}
.profile{
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 5px;
}
.place{
  color: #f2b410;
  font-size: 13px;
}
/*********************************************************footer*********************************/
#footer{
  background:url('footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.footer_head{
  margin-top: 90px;
  margin-bottom: 15px;
  color: #f2b410;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.footer_head_e{
  color: #f2b410;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.footer_info{
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}
.logo_img{
  height: 200px;
  width: 150px;
  margin: 10px;
}
/********************************************************copyright*************************/
#copyrigth{
  background: black;
  padding: 5px;
}
.copy{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 16px;
}
.copyy{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 16px;
  float: right;
}
.copyHIK{
  color: #f2b410;
}
/***********************************************************media************************/
@media (max-width: 1400px) {
  .carousel-caption{
    margin-top: auto;
  }
  .banner_p{
    font-size: 20px;
  }
  .banner_h1{
    font-size: 45px;
    margin-bottom: 10px;
  }
  .banner_button{
    margin-top: 0px;
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
}
@media (max-width: 1200px){
  .card{
    width: 450px; 
  }
  .nav-link{
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .card{
  width: 100%;
  height: 82%;
}

  #about{
    margin-top: 10px;
  }
  .slide{
    height: 600px;
  }
  .carousel-caption{
    margin-top: auto;
  }
  .banner_p{
    font-size: 20px;
  }
  .banner_h1{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .banner_button,.about_button{
    margin-top: 0px;
  }
  .nav-link{
    font-size: 10px;
  }
}
@media (max-width: 982px){
  .nav-link{
    font-size: 20px;
  }
  .carousel-caption{
    margin-top: -90px;
  }
   #client{
      height: 600px;
    }
    #client img{
      margin-top: 70px;
    }
    .profile{
      margin-top: 60px;
    }

}
@media (max-width: 876px){
  .carousel-caption{
    margin-top: -90px;
  }
  .banner_button{
    width: 150px;
  }
  .banner_p{
    font-size: 10px;
  }
  .banner_h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .banner_button,.about_button{
    margin-top: 0px;
  }
  #client{
    height: 550px;
  }
  .profile{
    margin-top: 100px;
  }
  #client img {
    margin-top: 100px;
  }
  textarea{
    width: 310px;
    margin-top: 10px;
  }
  #submit{
    width: 310px;
    }
} 
@media (max-width: 826px){
  #about{
    height: 650px;
  }
}
@media (max-width: 765px){
  #client{
      height: 800px;
    }
    .review_P{
      margin-top: 60px;
    }
    #client img{
      margin-top: 17px;
    }
    .profile{
      margin-top: 12px;
    }

}
@media (max-width: 710px){
  .w-100{
  height: 50vh;
}
  .carousel-caption{
    margin-top: -90px;
  }
  .banner_p{
    font-size: 10px;
  }
  .banner_h1{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .banner_button,.about_button{
    margin-top: 0px;
  }
  .banner_button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media (max-width: 565px){
    .banner_upper{
      display: none;
    }
    #about{
      height: 800px;
      font-size: 10px;
    }
    .special_upper{
      display: none;
    }
    .bannerr_upper{
      display: none;
    }
    #list{
      font-size: 10px;
    }
    #client{
      height: 800px;
    }
    .review_P{
      margin-top: 60px;
    }
    #client img{
      margin-top: 17px;
    }
    .profile{
      margin-top: 12px;
    }
  }
@media (max-width: 608px){
  .banner_upper{
    margin-bottom: -60px;
  }
}
@media (max-width: 414px){
   .logo{
    display: none;
  }
  .slide{
    height: 400px;
  }
   .banner_p{
    font-size: 10px;
  }
  .banner_h1{
    font-size: 15px;
    margin-bottom: 5px;
  }
  .banner_button,.about_button{
    margin-top: 0px;
  }
  #about{
    height: 1000px;
    margin: 0;
    padding: 0;
  }
  .about_p{
    font-size: 15px;
    margin: 0;
  }
  .phone{
    font-size: 40px;
  }
  input[type=text],input[type=email],input[type=phone],input[type=date],select,textarea,#submit{
  width: 250px;
}
#client{
  height: 800px;
  }
  #client img {
    margin-top: 50px;
  }
  .profile{
    margin-top: 50px;
  }
  .special_upper{
    display: none;
}
.banner_upper{
  display: none;
}
.bannerr_upper{
  display: none;
}
}
@media (max-width: 375px){
  #client img {
    margin-top: 80px;
    margin-bottom: -15px;
  }
  .profile{
    margin-top: 80px;
    margin-bottom: -15px;
  }

  }
}
@media (max-width: 320px){
  input[type=text],input[type=email],input[type=phone],input[type=date],select,textarea,#submit{
  width: 200px;
}
.carousel-caption{

  top: 1px;
}
#client{
  height: 800px;
  font-size: 10px;
  }
  #client img {
    margin-top: 45px;
  }
  .profile{
    margin-top: 45px;
  }
  .phone{
    font-size: 20px;
  }
  
  .about_h3{
    font-size: 30px;
  }
  .banner_p{
    font-size: 30px;
  }
  .speacial_h3{
    font-size: 30px;
  }
  #about{
    font-size: 10px;
  }
  #list{
    font-size: 10px;
    padding: 10px;
  }
  
}
@media (max-width: 280px){
  .carousel-caption{
    margin-top: 50px;
  }
  .card{
    height: 400px;
  }
  .card-title,.card-text,.price,.figure,sup{
    font-size: 10px;
  }
  #about{
    height: 1200px;
  }
  .about_p{
    font-size: 8px;
    text-align: justify;
  }
  .banner_button,.about_button{
    width: 80px;
    height: 35px;
    font-size: 10px;
  }
  
.footer_head,
.footer_info,
.footer_head_e{
  font-size: 15px;
}
.logo_img{
  width: 25px;
  height: 25px;
}
#client img {
    margin-top: 55px;
  }
  .profile{
    margin-top: 55px;
  }

}
